


body {
	 height: 100%;
        margin: 0;
        padding: 0;
  overflow-x: hidden;

}
@-webkit-keyframes swing {
  15% {
    -webkit-transform: translateX(9px);
    transform: translateX(9px);
  }
  30% {
    -webkit-transform: translateX(-9px);
    transform: translateX(-9px);
  }
  40% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  50% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  65% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes swing {
  15% {
    -webkit-transform: translateX(9px);
    transform: translateX(9px);
  }
  30% {
    -webkit-transform: translateX(-9px);
    transform: translateX(-9px);
  }
  40% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }
  50% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  65% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

a {
    text-decoration: none;
    color: inherit; }
    a:hover {
  color: #696969;
  text-decoration: none;
}
h1{
	font-family: 'Montserrat', sans-serif;

}
h2{
	font-family: 'Montserrat', sans-serif;
	
}

.stat{
 width: 1440px;
height: 720px;
left: 50%;
top: 50%;
 margin: 0 auto;
}
.containe-1 {display: grid;}
.containe-1 {grid-template-columns: repeat(3, 1fr);
background-color: white;
grid-gap: 1em;
grid-auto-rows: 100px;
width: 1303px;
 height: 10302.02px;
 margin: 0 0px;
 border: 0px solid #000;
 vertical-align: bottom;
 text-align: sub;
}
.containe-2 {display: grid;}
.containe-2 {grid-template-columns: repeat(3, 1fr);
background-color: white;
grid-gap: 1em;
grid-auto-rows: 100px;
width: 3px;
 height: 2.02px;
 margin: 0 0px;
 border: 0px solid #000;
 vertical-align: bottom;
 text-align: sub;
}
.sessiy{
position: relative;
left: 40px;
top: 54px;


color: #FFE600;
}
.rabota{
	position: relative;
left: -1930px;;
top: 2472px;
}

.prosm{
	position: relative;
left: -1950px;
top: 4355px;

}
.ocenka{
position: relative;
left: -1955px;
top: 6012px;

}
.spasibo{
position: relative;
top: 92.09%;
bottom: 1.66%;
left: -1950px;
top: 8000px;
}
.s1{
position: relative;
left: -1140px;
top: 720px;
}
.s2{
position: relative;
left: 377.15px;
top: 30px;}
.s3{
	position: relative;
left: 0px;
top: 100px;
}
.c1{
position: relative;
left: -1450px;
top: 695px;
}
.c2{
position: relative;
left: 70px;
top: 1150px;}
}

.yyyyy{
position: relative;
left: 70px;
top: 740px;
}

.st1{
position: relative;
left: 80px;
top: 2851px;

font-family: Arial Black;
font-size: 600px;
line-height: 100.8%;
color: #FFE600;
}

.st2{	
position: relative;
left: 20px;
top: 4753px;
font-family: Arial Black;
font-size: 600px;
line-height: 100.8%;
color: #FFE600;
transform: matrix(-1, 0, 0, 1, 0, 0);
}

.st3{
position: relative;
left: 120px;
top: 6490.02px;
font-family: Arial Black;
font-size: 600px;
line-height: 100.8%;
color: #FFE600;
}
.ic1{
position: relative;
left: -740px;
top: 3661px;
}
.i2{
	position: relative;
left: -180px;
top: -4550.02px;
}

}

.ic3{
position: relative;
left: -700px;
top: 5302.02px;
}


.c3{
position: relative;
left: 460px;
top: -8350.02px;
}
.c4{
position: relative;
left: -330px;
top: -2400px;
}

.ck2{
	position: relative;
left: 770px;
top: -6380px;
}

.txt-logo {

	position: relative;
	width: 303px;
 height: 302.02px;
left: 440px;
top: -10370px;

}
.txt1{
position: relative;
	width: 303px;
 height: 302.02px;
left: -215px;
top: -9660px;
}
.txt2{
position: relative;
	width: 303px;
 height: 302.02px;
left: 390px;
top: -9205px;
}
.txt3{
position: relative;
	width: 303px;
 height: 302.02px;
left: 770px;
top: -8340px;
}
.txt4{position: relative;
	width: 303px;
 height: 302.02px;
left: 620px;
top: -7450px;
}


.txt5{position: relative;
	width: 303px;
 height: 302.02px;
left: 340px;
top: -7180px;
}


.txt6{position: relative;
	width: 303px;
 height: 302.02px;
left: 250px;
top: -6100px;

}
.txt7{position: relative;
	width: 303px;
 height: 302.02px;
left: 500px;
top: -5980px;

}
.txt8{position: relative;
	width: 303px;
 height: 302.02px;
left: 720px;
top: -4920px;

}
.txt9{position: relative;
	width: 303px;
 height: 302.02px;
left: 340px;
top: -4600px;
}
.txt-logo1{position: relative;
	width: 303px;
 height: 302.02px;
left: 690px;
top: -10020px;

}
.txt-logo2{position: relative;
	width: 303px;
 height: 302.02px;
left: 720px;
top: -8370px;

}
.txt-logo3{position: relative;
	width: 303px;
 height: 302.02px;
left: 800px;
top: -6900px;

}
.txt-logo4{position: relative;
	width: 303px;
 height: 302.02px;
left: 700px;
top: -5140px;
}
.txt-l1{position: relative;
	width: 303px;
 height: 302.02px;
left: 110px;
top: -13940px;

}
.txt-l2{position: relative;
	width: 303px;
 height: 302.02px;
left: 100px;
top: -11705px;


}
.txt-l3{position: relative;
	width: 303px;
 height: 302.02px;
left: 90px;
top: -10050px;

}
.txt-l4{position: relative;
	width: 303px;
 height: 302.02px;
left: 110px;
top: -8590px;

}
.txt-l5{position: relative;
	width: 303px;
 height: 302.02px;
left: 110px;
top: -6830px;

}
.st1:hover{
	opacity: 0.5;
	
	 -webkit-animation: swing 0.6s ease;
  animation: swing 0.6s ease;
   -webkit-animation-iteration-count: 1;
   
}
.st2:hover{
	
	opacity: 0.5;
	

}
.st3:hover{
	opacity: 0.5;
	
	 -webkit-animation: swing 0.6s ease;
  animation: swing 0.6s ease;
   -webkit-animation-iteration-count: 1;
   animation-iteration-count: 1;
     }
